{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width-device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="https://img.icons8.com/nolan/64/restaurant.png">
      <title> Home </title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'rpanel/css/home.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'rpanel/css/responsive.css' %}">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


  </head>

  <body>
      <!-- preloader section 
      <div class="preloader">
      <div class="sk-spinner sk-spinner-wordpress">
      <span class="sk-inner-circle"></span>
      </div>
</div> -->
    <nav class="navbar navbar-expand-sm" style="background-color:#231C65; opacity: 0.95;">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
        <img src="https://img.icons8.com/nolan/40/restaurant.png" class="logo"/>
      </a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rpanel:home' %}">Home</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rpanel:menu' %}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rpanel:profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservation</a>
        </li>     
      </ul>
        <nav class="navbar ml-auto" role="navigation">
        <div class="container">
        <a class="btn navbar-btn btn-primary navbar-right pull-right" type="button" href="{% url 'rpanel:log' %}">Logout</a>
        </div>
        </nav> 
    </nav>
    
    <div id="banner" class="banner full-screen-mode parallax">
      <div class="container pr">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="banner-static">
                  <div class="banner-text">
                      <div class="banner-cell">
                          <h1>Work with us  <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="OrderEat" data-colors="#22E0FF"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                          <h2>A new way to manage your Restaurant </h2>
                          <p>Exploit the power of IOT, Telegram Bot and Web Platform to maximize your revenues and satisfy your clients</p>
                          <div class="btn">
                              <a href="#" class="btn" style="background-color:#231C65; color:white;">Check your Reservation</a>
                          </div>
                          <br>
                          <div class="btn">
                            <a href="#" class="btn" style="background-color:#231C65; color:white;">Contact Us</a>
                        </div>                       
                      </div>
                      <!-- end banner-cell -->
                  </div>
                  <!-- end banner-text -->
              </div>
              <!-- end banner-static -->
          </div>
          <!-- end col -->
      </div>
      <!-- end container -->
    </div>
   <!-- end banner -->
   
          <section class="menu_list">
            <div class="container-md">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="section-title text-center mb-60">
                        <p>Famous for your good food</p>
                        <h4>Your menu</h4>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <ul class="nav nav-tabs menu_tab" id="myTab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link" id="starter-tab" data-toggle="tab" href="#starter" role="tab" aria-selected="true">Starters</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="pizza-tab" data-toggle="tab" href="#pizza" role="tab" aria-selected="false">Pizzas</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="burger-tab" data-toggle="tab" href="#burger" role="tab" aria-selected="false">Burgers</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="maindish-tab" data-toggle="tab" href="#maindish" role="tab" aria-selected="false">Main Dishes</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="dessert-tab" data-toggle="tab" href="#dessert" role="tab" aria-selected="false">Desserts</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="drink-tab" data-toggle="tab" href="#drink" role="tab" aria-selected="false">Drinks</a>
                     </li>
                  </ul>
               </div>
               <div class="row">
                  <div class="tab-content col-xl-12" id="myTabContent">
                     <div class="tab-pane fade" id="starter" role="tabpanel" aria-labelledby="starter-tab">
                        <div class="row">
                           <div class="col-md-6">
                              {% for key, value in data %}
                                 {% if value.section == 'starter' %}
                              <div class="single_menu_list">
                                 <img src="{% static 'rpanel/img/gallery_08.jpg' %}" alt="Not Available">
                                    <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                    <p> {{ value.description }}</p>
                              </div>
                                 {% endif %}
                                 {% endfor %}
                           </div>
                        </div>
                     </div>

                     <div class="tab-pane fade" id="pizza" role="tabpanel" aria-labelledby="pizza-tab">
                        <div class="row">
                           <div class="col-md-6">
                              {% for key, value in data %}
                                 {% if value.section == 'pizza' %}
                              <div class="single_menu_list">
                                 <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                                    <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                    <p> {{ value.description }}</p>
                                 
                              </div>
                                 {% endif %}
                                 {% endfor %}
                           </div>
                        </div>
                     </div>

                     <div class="tab-pane fade" id="burger" role="tabpanel" aria-labelledby="burger-tab">
                        <div class="row">
                           <div class="col-md-6">
                              {% for key, value in data %}
                                 {% if value.section == 'burger' %}
                              <div class="single_menu_list">
                                 <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                                 
                                    <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                    <p> {{ value.description }}</p>
                                 
                              </div>
                                 {% endif %}
                                 {% endfor %}
                              </div>
                        </div>
                     </div>

                     <div class="tab-pane fade" id="maindish" role="tabpanel" aria-labelledby="maindish-tab">
                        <div class="row">
                           <div class="col-md-6">
                              {% for key, value in data %}
                                 {% if value.section == 'maindish' %}
                              <div class="single_menu_list">
                                 <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                                 
                                    <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                    <p> {{ value.description }}</p>
                                 
                              </div>
                                 {% endif %}
                                 {% endfor %}
                              </div>
                        </div>
                     </div>

                     <div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="dessert-tab">
                        <div class="row">
                           <div class="col-md-6">
                              {% for key, value in data %}
                                 {% if value.section == 'dessert' %}
                              <div class="single_menu_list">
                                 <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                                 
                                    <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                    <p> {{ value.description }}</p>
                                 
                              </div>
                                 {% endif %}
                                 {% endfor %}
                              </div>
                        </div>
                     </div>

                     <div class="tab-pane fade" id="drink" role="tabpanel" aria-labelledby="drink-tab">
                        <div class="row">
                           <div class="col-md-6">
                              {% for key, value in data %}
                                 {% if value.section == 'drink' %}
                              <div class="single_menu_list">
                                 <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/menu/menu-5.jpg" alt="Not Available">
                                 
                                    <h4> {{ value.name }} <span> {{ value.price }}€</span></h4>
                                    <p> {{ value.description }}</p>
                                 
                              </div>
                                 {% endif %}
                                 {% endfor %}
                              </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-12 text-center">
                     <div class="box_btn">
                        <a href="{% url 'rpanel:menu' %}">Edit Menu</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>

   <!-- Copyright -->
   <div class="footer-copyright text-center py-3" style="background-color: #231C65; margin:0;">
      <h3 style="color:white">Socials and Contacts</h3>
       <hr>
           <div class="text-center center-block">
               <p class="txt-railway" style="color:white">- OrderEat -</p>
               <br style="background-color: white;"/>
                   <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                  <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                  <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                  <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
   </div>
       <hr>
      <p style="color:white">© 2020 Copyright: <a href="#"> GSMR IOT </a></p> 
   </div>
   <!-- Copyright -->
 
 <!-- Footer -->
  </body>
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <script src="{% static 'rpanel/js/main.js' %}"></script>
   <!-- The core Firebase JS SDK is always required and must be listed first -->
   <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
   <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
   <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js"></script>
</html>
