{% if message %}
<script>

    alert('{{ message }}');

</script>

{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> SignIn-customer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">
    </head>

    <body>
        <h2>Customer Login Form</h2>
        <form action="{% url 'food:postsign' %}" method="POST">
            {% csrf_token %}
            Email:
            <input type="email" name="email"><br><br>
            Password:
            <input type="password" name="pass"><br><br>
            <input type="submit" value="SignIn">
            <a class="btn danger" type="button" href="{% url 'food:signup' %}">SignUp</a>
        </form>
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script src="{% static 'food/js/main.js' %}"></script>
    </body>
</html>