.nav-link{
    color:white;
}

.nav-link:hover{
    color: #22E0FF;
}

/* Footer */

.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.social {
	-webkit-transform: scale(0.8);
	/* Browser Variations: */
	
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
	color: #3B5998;
}
#social-tw:hover {
	color: #4099FF;
}
#social-gp:hover {
	color: #d34836;
}
#social-em:hover {
	color: #f39c12;
}

/* Menu Page */

.bg-add{
	background-color: #79a2fa;
}

/*==================================================
 * Effect 5
 * ===============================================*/
 .effect5
 {
   position: relative;
 }
 .effect5:before, .effect5:after
 {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 25px;
   left: 10px;
   width: 50%;
   top: 80%;
   max-width:300px;
   background: #777;
   -webkit-box-shadow: 0 35px 20px #777;
   -moz-box-shadow: 0 35px 20px #777;
   box-shadow: 0 35px 20px #777;
   -webkit-transform: rotate(-8deg);
   -moz-transform: rotate(-8deg);
   -o-transform: rotate(-8deg);
   -ms-transform: rotate(-8deg);
   transform: rotate(-8deg);
 }
 .effect5:after
 {
   -webkit-transform: rotate(8deg);
   -moz-transform: rotate(8deg);
   -o-transform: rotate(8deg);
   -ms-transform: rotate(8deg);
   transform: rotate(8deg);
   right: 10px;
   left: auto;
 }
 

.bg-change{
	background-color: #ae6fff;
}

/*==================================================
 * Effect 8
 * ===============================================*/
 .effect8
 {
   position:relative;
	 -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }
 .effect8:before, .effect8:after
 {
 content:"";
	 position:absolute;
	 z-index:-1;
	 -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	 -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	 box-shadow:0 0 20px rgba(0,0,0,0.8);
	 top:10px;
	 bottom:10px;
	 left:0;
	 right:0;
	 -moz-border-radius:100px / 10px;
	 border-radius:100px / 10px;
 }
 .effect8:after
 {
 right:10px;
	 left:auto;
	 -webkit-transform:skew(8deg) rotate(3deg);
		-moz-transform:skew(8deg) rotate(3deg);
		 -ms-transform:skew(8deg) rotate(3deg);
		  -o-transform:skew(8deg) rotate(3deg);
			 transform:skew(8deg) rotate(3deg);
 }
 
 